.stadiumcard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .stadiuminfo {
    flex: 1;
  }
  
  .stadiumname {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .stadiumlocation {
    font-style: italic;
    margin-bottom: 10px;
  }
  
  .stadiumfeatures {
    list-style-type: none;
    padding: 0;
  }
  
  .stadiumfeatures li {
    margin-bottom: 5px;
  }
  
  .bookbutton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  